* {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 0.05em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*-------------------MAIN----------------*/

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body
    {font-family:'Eczar', serif;
    font-size:14px;
    font-weight:400;
    line-height:1.429;
    color:rgba(0,0,0,.87);
    background-color:#FFF;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
}

h2 {
    
    font-weight: 300;
    text-transform:uppercase;
    
}

h3 {
    font-size: 3em;
    font-family: 'Eczar', serif;
    font-weight: 400;
    
}
h4 {
    text-transform: lowercase;
    position: relative;
    margin-right: 10px;
    letter-spacing: 0.12em;
}



a {
    color: orange;
} 
/*--------------------ABOUT PAGE------------*/

.abouthello{
    margin-top: 54px;
    font-family: "open sans", sans-serif;
    font-weight: 300;
    color: #FFB174;
}

.myname{
    font-size: 1.2em;
    line-height: 1.4;
}
.aboutleft {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30%;
  left: 20%;
  overflow: auto;
  z-index: 2;
 padding: 30px;
    border-right: 1px solid #95B9CF;
}
.aboutright{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50%;
    left: 50%;
    height: 100%;
  overflow: auto;
  z-index: 2;


   
}

/*----------------------MENU--------*/

.marque {
    position: absolute;
    z-index: -1;
    margin-left: 18px;
}

.Aynsley {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-right: 15px;
    font-size: 1.15em;
    letter-spacing: 0.14em;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.Longridge {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 18px;
    margin-top: -18px;
    font-size: 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
}
span {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 20px;
}

span {
  &:before, &:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: -2px;
    margin-top: -0.5px;
    background: orange;
  }

  &:before {
    left: -2.5px;
  }

  &:after {
    right: 2.5px;
    background: orange;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &:hover {
    &:before {
      background: orange;
      width: 100%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    &:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }
  }
}

.linemenu {
    margin-top: 60px;
    margin-bottom: 20px;
}
.social {
    position: relative;
    top:210px;
    margin-bottom: 10px;
}

.twitter {
    position: relative;
    height: 24px;
}

.instagram {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;

}

.dribble {
    position: relative;
    height: 25px;
}

.socialline {
    position: relative;
    top: 180px;
}


 
nav a {
	position: relative;
	display: inline-block;
	margin: 1px 5px;
	outline: none;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 300;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.04em;
    width: 100px;
    
}
nav a:hover,
nav a:focus {
	outline: none;
    text-decoration: none;
}

/* Effect 7: second border slides up */
.cl-effect-7 a {
	padding: 12px 10px 10px;
	color: black;
	text-shadow: none;
}

.cl-effect-7 a::before,
.cl-effect-7 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #FFB174;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.cl-effect-7 a::after {
	opacity: 0;
	-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}


.cl-effect-7 a:hover::before,
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::before,
.cl-effect-7 a:focus::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::after {
	top: 100%;
	opacity: 1;
}

/*---------------------home page---------------*/
.index {
    background-image: url(pictures/wheel.jpg)
}

.wheel {
    position: relative;
    max-height: 100%; 
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
/*---------------------portfolio page---------------*/

a {
color: aquamarine;
    
}

a:hover,
a:focus {
	outline: none;
    text-decoration: none;
}


.title {
    font-size: 3.5em;
    position: relative;
    margin-right: 10px;
    float: right;
    top: 20px;
    
}
.case1 {
    float: right;
    margin-left: 40px;
}

.ements {
    position: relative;
    float: right;
    height: 300px; 
    width: 60%;
    margin-top: 10px;
    

}

.ementsbox {
    position: relative;
    float: left;
    height: 300px; 
    width: 32%;
    margin-top: 10px;
    margin-left: 45px;
    
}

.takhe {
    position: relative;
    float: left;
    height: 300px; 
    width: 60%;
    margin-top: 10px;
    margin-left: 45px;
}

.share{
     position: relative;
    float: right;
    height: 300px; 
    width: 60%;
    margin-top: 10px;
   
}

.form {
      position: relative;
    float: left;
    height: 300px; 
    width: 60%;
    margin-top: 10px;
    margin-left: 45px;
}
.Takahe {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 1.4%;
    height: 290px;
    margin-bottom: 0px;
}

.Streetform {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: left;
    margin-top: 1.4%;
    height: 290px;
    margin-bottom: 0px;
}

.ishared {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: left;
    margin-top: 1.4%;
    height: 290px;
    margin-bottom: 0px;
    margin-left: 3%;
}

.Elements {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 1.4%;
    height: 290px;
    margin-bottom: 0px;
}


/*--------------------CV PAGE--------------------------------*/
/*------------------------CV COLUMS-----------------------*/

.cvmain {
    left: 20%;
}
.cv1 {
   
    width: 35%;
    position: relative;
    padding-left: 20px;
    margin-top: 110px;
    margin-left: 70px;
    margin-bottom: 40px;
}

.cv2 {
    
    width:60%;
    position: relative;
    float: right;
   margin-top: -807px;
    padding-left: 50px;
    padding-right: 60px;
    
}

.personalstatement {
    padding-left: 90px;
    padding-right: 60px;
}

h7 {
    font-family: "Slabo 27px", sans-serif;
    color: #FFB174;
    font-size: 1.5em;
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 60px;
    
}

.PS {
    margin-left: 90px;
}

h8 {
    font-family: "Slabo 27px", sans-serif;
    font-size: 1.1em;
    margin-left: 0px;
    margin-right: 20px;
    
}

.pcv {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 0.85em;
}




.basicBox {
  width: 130px;
  height: 65px;
  margin: 15px auto;
  color: #565A5C;
  font-family: "Roboto", serif;
 padding-left: 10px;
    padding-right: 10px;
  font-size: 1.em;
  line-height: 65px;
  text-align: center;
  position: relative;
    float: left;
    margin-right: 5px;
  
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect, svg path, svg polyline {
  fill: none;
  stroke: #FFB174;
  stroke-width: 1;
}

.basicBox:hover svg rect, .swiggleBox:hover svg path, .checkBox:hover svg polyline {
  stroke: #FFB174;
}

/* Basic Box */
svg rect {
  stroke-dasharray: 400, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.s0 {
    margin-left: 90px;
}

.s1 {
    
}

.case1{
    float: right;
}



/*----------------------------------------------------*/
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
    .aboutright {
        visibility: hidden;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
   
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
    
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
    
}

@media only screen
and (min-width : 768px) {
/* STYLES GO HERE */
    
    .mui-appbar {
        visibility: hidden;
    }
}


@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
    
    
    .mui-appbar {
        visibility: collapse;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
    
    
    .mui-appbar {
        visibility: hidden;
    }
 
    .Takahe {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 280px;
    margin-bottom: 0px;
}   
    
    .ishared {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 280px;
    margin-bottom: 0px;
    margin-right: 15px;
}  
    
     .Elements {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 280px;
    margin-bottom: 0px;
}  
  
    .Streetform {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 280px;
    margin-bottom: 0px;
    margin-right: 15px;
}  
 
    
}




/* -------------------------------- 

Portfolio gallery

-------------------------------- */
.cd-3d-portfolio-navigation {
  width: 100%;
  height: 25vh;
  text-align: center;
  display: table;
}
.cd-3d-portfolio-navigation .cd-wrapper {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .cd-3d-portfolio-navigation h1 {
    font-size: 3.2rem;
  }
}

/* -------------------------------- 

Portfolio Projects 

-------------------------------- */
.cd-3d-portfolio {
  overflow: hidden;
}
.cd-3d-portfolio .close-project {
  /* this is the 'X' icon - visible when a project has been selected */
  position: absolute;
  z-index: 2;
  top: 24px;
  right: 5%;
  /* replace text with image */
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .3s 0s;
  transition: -webkit-transform .3s 0s;
  transition: transform .3s 0s;
  transition: transform .3s 0s, -webkit-transform .3s 0s;
}
.cd-3d-portfolio .close-project:hover {
  background: black;
}
.cd-3d-portfolio .close-project::after, .cd-3d-portfolio .close-project::before {
  /* the 'X' lines */
  content: '';
  position: absolute;
  width: 18px;
  height: 2px;
  top: 50%;
  left: 50%;
  background: #edeade;
}
.cd-3d-portfolio .close-project::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.cd-3d-portfolio .close-project::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.cd-3d-portfolio .project-is-open .open .close-project {
  /* show the 'X' icon when a project has been selected */
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transition: background 0.3s, -webkit-transform 0.3s 0.6s;
  transition: background 0.3s, -webkit-transform 0.3s 0.6s;
  transition: transform 0.3s 0.6s, background 0.3s;
  transition: transform 0.3s 0.6s, background 0.3s, -webkit-transform 0.3s 0.6s;
}

.cd-3d-portfolio .projects {
  /* used to render its children in a 3D space - add perspective */
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.cd-3d-portfolio .projects .row {
  height: 25vh;
  position: relative;
  z-index: 1;
  /* position its children in a 3d space */
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /* Force hardware acceleration */
  will-change: transform;
  -webkit-transform: translateZ(-50vw);
          transform: translateZ(-50vw);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.5, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  pointer-events: none;
}
.cd-3d-portfolio .projects .row:nth-of-type(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
.cd-3d-portfolio .projects .row:nth-of-type(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.cd-3d-portfolio .projects .row::after {
  /* this is used to create the row bottom face */
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100vw;
  width: 100%;
  background: #0f070b;
  -webkit-transform: translateZ(50vw) rotateX(90deg);
          transform: translateZ(50vw) rotateX(90deg);
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-3d-portfolio .projects .row:last-of-type::after {
  /* use its ::after element as top face (rather than bottom face) */
  top: 0;
  bottom: auto;
  -webkit-transform: translateZ(50vw) rotateX(-90deg);
          transform: translateZ(50vw) rotateX(-90deg);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}
.cd-3d-portfolio .projects:not(.project-has-transition) .row:nth-of-type(2) {
  /* increase z-index of the second row - this way the back faces of the first and thirdv rows won't be visible (only of no project has been selected) */
  z-index: 2;
}
.no-preserve3d .cd-3d-portfolio .projects .row {
  /* fallback for browsers that don't support the preser3d property */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.cd-3d-portfolio .projects .row > li {
  /* this is the single project */
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  -webkit-transform: translateZ(50vw);
          transform: translateZ(50vw);
  will-change: transform;
  overflow: hidden;
}
.cd-3d-portfolio .projects .row > li.selected {
  /* this the project on the visible face of the parallelepiped */
  pointer-events: auto;
}
.cd-3d-portfolio .projects .row > li.front-face {
  -webkit-transform: translateZ(50vw);
          transform: translateZ(50vw);
}
.cd-3d-portfolio .projects .row > li.right-face {
  -webkit-transform: rotateY(90deg) translateZ(50vw);
          transform: rotateY(90deg) translateZ(50vw);
}
.cd-3d-portfolio .projects .row > li.left-face {
  -webkit-transform: rotateY(-90deg) translateZ(50vw);
          transform: rotateY(-90deg) translateZ(50vw);
}
.cd-3d-portfolio .projects .row > li.back-face {
  -webkit-transform: rotateY(180deg) translateZ(50vw);
          transform: rotateY(180deg) translateZ(50vw);
}
.cd-3d-portfolio .projects .row > li.hidden {
  opacity: 0;
  visibility: hidden;
}
.no-preserve3d .cd-3d-portfolio .projects .row > li {
  opacity: 0;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}
.no-preserve3d .cd-3d-portfolio .projects .row > li.front-face, .no-preserve3d .cd-3d-portfolio .projects .row > li.right-face, .no-preserve3d .cd-3d-portfolio .projects .row > li.left-face, .no-preserve3d .cd-3d-portfolio .projects .row > li.back-face {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.no-preserve3d .cd-3d-portfolio .projects .row > li.selected {
  opacity: 1;
}
.cd-3d-portfolio .projects .project-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.cd-3d-portfolio .projects .project-image {
  position: relative;
  z-index: 2;
  /* vertically center its content */
  display: table;
  width: 100%;
  height: 25%;
  
  cursor: pointer;
  /* force hardware acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.cd-3d-portfolio .projects .project-image::before, .cd-3d-portfolio .projects .project-image::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
}
.cd-3d-portfolio .projects .project-image::before {
  /* this is the project background image */
  z-index: 1;
  height: 240%;
  background-color: #201017;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cd-3d-portfolio .projects .project-image::after {
  /* this is the project image cover layer - this is visible only during a rotation of the parallelepiped (while the project is disappearing) */
  z-index: 3;
  height: 100%;
  background: black;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.cd-3d-portfolio .projects .row > li:not(.selected) .project-image::after {
  opacity: 1;
}
.cd-3d-portfolio .projects .row:nth-of-type(2) > li:not(.selected) .project-image::after {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
.cd-3d-portfolio .projects .row:nth-of-type(3) > li:not(.selected) .project-image::after {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}
.cd-3d-portfolio .projects .row > li.project-1 .project-image::before {
  /* set project background image */
  background-image: url(../img/photo-1.jpg);
}
.cd-3d-portfolio .projects .row > li.project-2 .project-image::before {
  background-image: url(../img/photo-2.jpg);
}
.cd-3d-portfolio .projects .row > li.project-3 .project-image::before {
  background-image: url(../img/photo-3.jpg);
}
.cd-3d-portfolio .projects .row > li.project-4 .project-image::before {
  background-image: url(../img/photo-4.jpg);
}
.cd-3d-portfolio .projects .row > li.project-5 .project-image::before {
  background-image: url(../img/photo-5.jpg);
}
.cd-3d-portfolio .projects .row > li.project-6 .project-image::before {
  background-image: url(../img/photo-6.jpg);
}
.cd-3d-portfolio .projects .row > li.project-7 .project-image::before {
  background-image: url(../img/photo-7.jpg);
}
.cd-3d-portfolio .projects .row > li.project-8 .project-image::before {
  background-image: url(../img/photo-8.jpg);
}
.cd-3d-portfolio .projects .row > li.project-9 .project-image::before {
  background-image: url(../img/photo-9.jpg);
}
.cd-3d-portfolio .projects .project-title {
  position: relative;
  z-index: 2;
  /* vertically center inside its parent */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  /* force hardware acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.5, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
}
.cd-3d-portfolio .projects h2 {
  color: #edeade;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Lora", serif;
}
.cd-3d-portfolio .projects .project-content {
  position: absolute;
  z-index: 1;
  /* place the content right below the project image */
  top: 60%;
  width: 100%;
  background: white;
  box-shadow: 0 -5px 0 white;
}
.cd-3d-portfolio .projects .project-content > div {
  opacity: 0;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  transition: all 0.6s cubic-bezier(0.5, 0, 0.1, 1);
}
.cd-3d-portfolio .projects .project-content p {
  width: 90%;
  max-width: 800px;
  margin: 2em auto;
  line-height: 1.6;
  color: #694d59;
}
.cd-3d-portfolio .projects.project-has-transition .row > li {
  /* the project-has-transition class is used to add a transition to the tranform property of the single projects - it's added when a project is selected (before opening it) and removed when a project is colsed (when the closing animation is finished) */
  -webkit-transition: opacity 0s 0.6s, -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  transition: opacity 0s 0.6s, -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.5, 0, 0.1, 1), opacity 0s 0.6s;
  transition: transform 0.6s cubic-bezier(0.5, 0, 0.1, 1), opacity 0s 0.6s, -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
}
.cd-3d-portfolio .projects.project-has-transition .row > li.selected.open {
  overflow: visible;
}
.cd-3d-portfolio .projects.project-has-transition .row > li:not(.selected) {
  opacity: 0;
}
.cd-3d-portfolio .projects.project-has-transition .row::after {
  /* hide the bottom/top parallelepiped face when a project is selected */
  visibility: hidden;
  -webkit-transition: visibility 0s;
  transition: visibility 0s;
}
.cd-3d-portfolio .projects.project-is-open .row > li {
  /* the project-is-open class is used when a project is selected - it's added when a project is selected (before opening it) and removed when a project is closed (before the closing animation begins) */
  -webkit-transition: opacity 0s, -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  transition: opacity 0s, -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
  transition: transform 0.6s cubic-bezier(0.5, 0, 0.1, 1), opacity 0s;
  transition: transform 0.6s cubic-bezier(0.5, 0, 0.1, 1), opacity 0s, -webkit-transform 0.6s cubic-bezier(0.5, 0, 0.1, 1);
}
.cd-3d-portfolio .projects.project-is-open .row > li.selected.open .project-wrapper {
  /* selected project on the visible face of the parallelepiped */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-3d-portfolio .projects.project-is-open .row > li.selected .project-image {
  /* projects on the visible face of the parallelepiped */
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.cd-3d-portfolio .projects.project-is-open .row > li.selected.open .project-image {
  cursor: auto;
}
.cd-3d-portfolio .projects.project-is-open .row > li.selected.open .project-title {
  -webkit-transform: translateY(70%);
      -ms-transform: translateY(70%);
          transform: translateY(70%);
}
.cd-3d-portfolio .projects.project-is-open .row > li.selected.open .project-content > div {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.cd-3d-portfolio .projects.project-is-open .row:first-of-type .selected.open.front-face {
  /* if the project selected is inside the first row */
  -webkit-transform: translateZ(50vw) translateY(-100%);
          transform: translateZ(50vw) translateY(-100%);
}
.cd-3d-portfolio .projects.project-is-open .row:first-of-type .selected.open.right-face {
  -webkit-transform: rotateY(90deg) translateZ(50vw) translateY(-100%);
          transform: rotateY(90deg) translateZ(50vw) translateY(-100%);
}
.cd-3d-portfolio .projects.project-is-open .row:first-of-type .selected.open.left-face {
  -webkit-transform: rotateY(-90deg) translateZ(50vw) translateY(-100%);
          transform: rotateY(-90deg) translateZ(50vw) translateY(-100%);
}
.cd-3d-portfolio .projects.project-is-open .row:first-of-type .selected.open.back-face {
  -webkit-transform: rotateY(180deg) translateZ(50vw) translateY(-100%);
          transform: rotateY(180deg) translateZ(50vw) translateY(-100%);
}
.cd-3d-portfolio .projects.project-is-open .row:first-of-type .selected:not(.open).front-face {
  /* if the project selected is not inside the first row */
  -webkit-transform: translateZ(50vw) translateY(300%);
          transform: translateZ(50vw) translateY(300%);
}
.cd-3d-portfolio .projects.project-is-open .row:first-of-type .selected:not(.open).right-face {
  -webkit-transform: rotateY(90deg) translateZ(50vw) translateY(300%);
          transform: rotateY(90deg) translateZ(50vw) translateY(300%);
}
.cd-3d-portfolio .projects.project-is-open .row:first-of-type .selected:not(.open).left-face {
  -webkit-transform: rotateY(-90deg) translateZ(50vw) translateY(300%);
          transform: rotateY(-90deg) translateZ(50vw) translateY(300%);
}
.cd-3d-portfolio .projects.project-is-open .row:first-of-type .selected:not(.open).back-face {
  -webkit-transform: rotateY(180deg) translateZ(50vw) translateY(300%);
          transform: rotateY(180deg) translateZ(50vw) translateY(300%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(2) .selected.open.front-face {
  /* if the project selected is inside the second row */
  -webkit-transform: translateZ(50vw) translateY(-200%);
          transform: translateZ(50vw) translateY(-200%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(2) .selected.open.right-face {
  -webkit-transform: rotateY(90deg) translateZ(50vw) translateY(-200%);
          transform: rotateY(90deg) translateZ(50vw) translateY(-200%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(2) .selected.open.left-face {
  -webkit-transform: rotateY(-90deg) translateZ(50vw) translateY(-200%);
          transform: rotateY(-90deg) translateZ(50vw) translateY(-200%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(2) .selected.open.back-face {
  -webkit-transform: rotateY(180deg) translateZ(50vw) translateY(-200%);
          transform: rotateY(180deg) translateZ(50vw) translateY(-200%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(2) .selected:not(.open).front-face {
  /* if the project selected is not inside the second row */
  -webkit-transform: translateZ(50vw) translateY(200%);
          transform: translateZ(50vw) translateY(200%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(2) .selected:not(.open).right-face {
  -webkit-transform: rotateY(90deg) translateZ(50vw) translateY(200%);
          transform: rotateY(90deg) translateZ(50vw) translateY(200%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(2) .selected:not(.open).left-face {
  -webkit-transform: rotateY(-90deg) translateZ(50vw) translateY(200%);
          transform: rotateY(-90deg) translateZ(50vw) translateY(200%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(2) .selected:not(.open).back-face {
  -webkit-transform: rotateY(180deg) translateZ(50vw) translateY(200%);
          transform: rotateY(180deg) translateZ(50vw) translateY(200%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(3) .selected.open.front-face {
  /* if the project selected is inside the third row */
  -webkit-transform: translateZ(50vw) translateY(-300%);
          transform: translateZ(50vw) translateY(-300%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(3) .selected.open.right-face {
  -webkit-transform: rotateY(90deg) translateZ(50vw) translateY(-300%);
          transform: rotateY(90deg) translateZ(50vw) translateY(-300%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(3) .selected.open.left-face {
  -webkit-transform: rotateY(-90deg) translateZ(50vw) translateY(-300%);
          transform: rotateY(-90deg) translateZ(50vw) translateY(-300%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(3) .selected.open.back-face {
  -webkit-transform: rotateY(180deg) translateZ(50vw) translateY(-300%);
          transform: rotateY(180deg) translateZ(50vw) translateY(-300%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(3) .selected:not(.open).front-face {
  /* if the project selected is not inside the third row */
  -webkit-transform: translateZ(50vw) translateY(100%);
          transform: translateZ(50vw) translateY(100%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(3) .selected:not(.open).right-face {
  -webkit-transform: rotateY(90deg) translateZ(50vw) translateY(100%);
          transform: rotateY(90deg) translateZ(50vw) translateY(100%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(3) .selected:not(.open).left-face {
  -webkit-transform: rotateY(-90deg) translateZ(50vw) translateY(100%);
          transform: rotateY(-90deg) translateZ(50vw) translateY(100%);
}
.cd-3d-portfolio .projects.project-is-open .row:nth-of-type(3) .selected:not(.open).back-face {
  -webkit-transform: rotateY(180deg) translateZ(50vw) translateY(100%);
          transform: rotateY(180deg) translateZ(50vw) translateY(100%);
}
.no-preserve3d .cd-3d-portfolio .projects.project-is-open .row.row:first-of-type > li.selected {
  -webkit-transform: translateY(300%);
      -ms-transform: translateY(300%);
          transform: translateY(300%);
}
.no-preserve3d .cd-3d-portfolio .projects.project-is-open .row.row:first-of-type > li.selected.open {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.no-preserve3d .cd-3d-portfolio .projects.project-is-open .row.row:nth-of-type(2) > li.selected {
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
}
.no-preserve3d .cd-3d-portfolio .projects.project-is-open .row.row:nth-of-type(2) > li.selected.open {
  -webkit-transform: translateY(-200%);
      -ms-transform: translateY(-200%);
          transform: translateY(-200%);
}
.no-preserve3d .cd-3d-portfolio .projects.project-is-open .row.row:nth-of-type(3) > li.selected {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}
.no-preserve3d .cd-3d-portfolio .projects.project-is-open .row.row:nth-of-type(3) > li.selected.open {
  -webkit-transform: translateY(-300%);
      -ms-transform: translateY(-300%);
          transform: translateY(-300%);
}
@media only screen and (min-width: 768px) {
  .cd-3d-portfolio .projects h2 {
    font-size: 3.5rem;
  }
  .cd-3d-portfolio .projects p {
    font-size: 2rem;
  }
}

/* -------------------------------- 

Back to top 

-------------------------------- */
.cd-top {
  position: fixed;
  z-index: 3;
  bottom: 40px;
  right: 5%;
  display: inline-block;
  height: 48px;
  width: 48px;
  /* replace text with image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.6) url(../img/cd-icon-arrow.svg) no-repeat center center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}
.cd-top.is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top:hover {
  background-color: black;
  opacity: 1;
}







