* {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 0.05em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*-------------------MAIN----------------*/
body
    {font-family:'Eczar', serif;
    font-size:14px;
    font-weight:400;
    line-height:1.429;
    color:rgba(0,0,0,.87);
    background-color:#FFF;
    
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 60em;
}

h4 {
    text-transform: lowercase;
}
/*--------------------ABOUT PAGE------------*/
.aboutleft {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30%;
  left: 20%;
  overflow: auto;
  z-index: 2;
 padding: 30px;
    border-right: 1px solid #95B9CF;
}
.aboutright{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50%;
    left: 50%;
    height: 100%;
  overflow: auto;
  z-index: 2;

    background-image: url(pictures/aboutpicture.png);
    
   
}

/*----------------------MENU--------*/

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span {
  &:before, &:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: -2px;
    margin-top: -0.5px;
    background: orange;
  }

  &:before {
    left: -2.5px;
  }

  &:after {
    right: 2.5px;
    background: orange;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }

  &:hover {
    &:before {
      background: orange;
      width: 100%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    &:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }
  }
}
.social {
    position: relative;
    top:310px;
    margin-bottom: 0px;
}

.twitter {
    position: relative;
    height: 24px;
}

.instagram {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;

}

.dribble {
    position: relative;
    height: 25px;
}

.socialline {
    position: relative;
    top: 280px;
}
/*---------------------home page---------------*/
.index {
    background-image: url(pictures/wheel.jpg)
}

.wheel {
    position: relative;
    max-height: 100%; 
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
/*---------------------portfolio page---------------*/

.Takahe {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 1.4%;
    height: 290px;
    margin-bottom: 0px;
}

.Streetform {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: left;
    margin-top: 1.4%;
    height: 290px;
    margin-bottom: 0px;
}

.ishared {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: left;
    margin-top: 1.4%;
    height: 290px;
    margin-bottom: 0px;
}

.Elements {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 1.4%;
    height: 290px;
    margin-bottom: 0px;
}


/*--------------------CV PAGE--------------------------------*/
/*------------------------CV COLUMS-----------------------*/

.cvmain {
    left: 20%;
}
.cv1 {
   
    width: 35%;
    position: relative;
    padding-left: 20px;
    margin-top: 110px;
    margin-left: 70px;
    margin-bottom: 40px;
}

.cv2 {
    
    width:60%;
    position: relative;
    float: right;
   margin-top: -807px;
    padding-left: 50px;
    padding-right: 60px;
    
}

.personalstatement {
    padding-left: 90px;
    padding-right: 60px;
}

h7 {
    font-family: "Slabo 27px", sans-serif;
    color: #FFB174;
    font-size: 1.5em;
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 60px;
    
}

.PS {
    margin-left: 90px;
}

h8 {
    font-family: "Slabo 27px", sans-serif;
    font-size: 1.1em;
    margin-left: 0px;
    margin-right: 20px;
    
}

.pcv {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 0.85em;
}




.basicBox {
  width: 130px;
  height: 65px;
  margin: 15px auto;
  color: #565A5C;
  font-family: "Roboto", serif;
 padding-left: 10px;
    padding-right: 10px;
  font-size: 1.em;
  line-height: 65px;
  text-align: center;
  position: relative;
    float: left;
    margin-right: 5px;
  
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg rect, svg path, svg polyline {
  fill: none;
  stroke: #FFB174;
  stroke-width: 1;
}

.basicBox:hover svg rect, .swiggleBox:hover svg path, .checkBox:hover svg polyline {
  stroke: #FFB174;
}

/* Basic Box */
svg rect {
  stroke-dasharray: 400, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.s0 {
    margin-left: 90px;
}

.s1 {
    
}



/*----------------------------------------------------*/

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
   
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
    
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
    
}

@media only screen
and (min-width : 768px) {
/* STYLES GO HERE */
    
    .mui-appbar {
        visibility: hidden;
    }
}


@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
    
    
    .mui-appbar {
        visibility: hidden;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
    
    
    .mui-appbar {
        visibility: hidden;
    }
 
    .Takahe {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 280px;
    margin-bottom: 0px;
}   
    
    .ishared {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 280px;
    margin-bottom: 0px;
    margin-right: 15px;
}  
    
     .Elements {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 280px;
    margin-bottom: 0px;
}  
  
    .Streetform {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 280px;
    margin-bottom: 0px;
    margin-right: 15px;
}  
 
    
}