* {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 0.05em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*-------------------MAIN----------------*/
body
    {font-family:Arial,Verdana,Tahoma;
    font-size:14px;
    font-weight:400;
    line-height:1.429;
    color:rgba(0,0,0,.87);
    background-color:#FFF;
}
/*----------------------MENU--------*/


/*---------------------portfolio page---------------*/

.Takahe {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 300px;
    margin-bottom: 10px;
}

.Streetform {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: left;
    margin-top: 0.95%;
    height: 300px;
    margin-bottom: 10px;
}

.ishared {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: left;
    margin-top: 0.95%;
    height: 300px;
    margin-bottom: 10px;
}

.Elements {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 300px;
    margin-bottom: 10px;
}




/*----------------------------------------------------*/

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
 
    .Takahe {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 280px;
    margin-bottom: 0px;
}   
    
    .ishared {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: left;
    margin-top: 0%;
    height: 280px;
    margin-bottom: 0px;
}
    
    
}