* {
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 0.05em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*-------------------MAIN----------------*/
body
    {font-family:Arial,Verdana,Tahoma;
    font-size:14px;
    font-weight:400;
    line-height:1.429;
    color:rgba(0,0,0,.87);
    background-color:#FFF;
}
/*----------------------MENU--------*/


/*---------------------portfolio page---------------*/

.Takahe {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 300px;
    margin-bottom: 10px;
}

.Streetform {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: left;
    margin-top: 0.95%;
    height: 300px;
    margin-bottom: 10px;
}

.ishared {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: left;
    margin-top: 0.95%;
    height: 300px;
    margin-bottom: 10px;
}

.Elements {
    position: relative;
    border: 5px solid #FFB174;
    width: 39%;
    float: right;
    margin-top: 0.95%;
    height: 300px;
    margin-bottom: 10px;
}

.p3 { 
    /* The image used */
    background-image: url(pictures/portfolio/takahe.png);

    /* Set a specific height */
     position: relative;
    float: left;
    height: 300px; 
    width: 60%;
    margin-top: 10px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p2 { 
    /* The image used */
    background-image: url(pictures/ishared);

    /* Set a specific height */
     position: relative;
    float: right;
    height: 300px; 
    width: 60%;
    margin-top: 10px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p4 { 
    /* The image used */
    background-image: url(pictures/portfolio/elements.png);

    /* Set a specific height */
     position: relative;
    float: left;
    height: 300px; 
    width: 60%;
    margin-top: 10px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p3 { 
    /* The image used */
    background-image: url(pictures/portfolio/takahe.png);

    /* Set a specific height */
     position: relative;
    float: left;
    height: 300px; 
    width: 60%;
    margin-top: 10px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}